<footer class="full fur-bg darkgray-bg white-txt pad-20-0">
	<div class="container">
		<h3>Contact</h3>
		<p>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			<a class="white-txt" href="https://www.instagram.com/l.humeur.du.jour/">
				Rachid
			</a>
		</p>
		<p>
			<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
			<a class="white-txt" href="https://github.com/raco82">
				My Github Page
			</a>
		</p>
	</div>
</footer>
