<% if !user_signed_in? %>
	<div class="fur-bg orange-bg">
		<div class="jumbotron logo-bg">
			<div class="container">
				<h1>Bienvenue sur IMDb</h1>
				<p>Pas encore de compte ?</p>
				<p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %></p>
			</div>
		</div>
	</div>
<% end %>
